#about {
    height: 84vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 42px;

    #nav {
        color: $textColor;
        position: absolute;
        right: 30%;
        bottom: 14%;
        display: flex;
        justify-content: center;

        .navIcon {
            width: 32px;
            height: 32px;
            border: solid 1px $textColor;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .navIcon:last-of-type {
            margin-left: 14px;
        }
        .navIcon:hover {
            color: $tileBgd;
            background-color: $textColor;
            transition: all 0.3s ease-in-out;
        }
    }

    #aboutSVG {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
    }
    #bio {
        width: 85%;
        height: 200px;
        color: $textColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $headerFont;

        #bioLeft {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: 2.8rem;
            }
            #ctaButton {
                border: solid 1px $textColor;
                border-radius: 4px;
                width: fit-content;
                padding: 11px 21px;
                display: flex;
                justify-content: center;
                align-items: baseline;
                cursor: pointer;

                #iconWrapper {
                    width: 1.7rem;
                    height: 1.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: deeppink;
                    border-radius: 50%;
                }
    
                span {
                    display:inline-block;
                    padding-left: 14px;
                    cursor: pointer;
                }
            }
        }
        #bioRight {
            width: 60%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .bioText {
                position: absolute;
                text-align: justify;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                opacity: 0;
                transition: all 0.4s ease-in-out;
            }
            .bioText.active {
                opacity: 1;
            }
        }
    }
}