#works {
    height: 100vh;
    width: webkit-fill-available;
    padding: 0 42px;

    #projects-container {
        border-top: solid 1px $dividerColor;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        #projectsSVG {
            position: absolute;
            top: 7%;
            right: 0;
        }
        #projectsMondrian {
            display: grid;
            grid-gap: 14px;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100px 100px 100px 100px;
            width: 85%;
            padding-bottom: 63px;
            z-index: 1;

            #image1 {
                grid-row: 1/5;
                grid-column: 1/2;
            }
            #image2 {
                grid-row: 1/3;
                grid-column: 2/3;
            }
            #image3 {
                grid-row: 3/5;
                grid-column: 2/3;
            }
            .image {
                // background: url(./img/comingsoon.png) no-repeat center center;
                // background-size: cover;
                background-color: $tileBgd;
                height: 100%;
                width: 100%;
            }
        }
    }
}