$bgdBlack: #010101;
$bgdBlack2: #131313;
$textColor: #ffffff;
$headerDividerColor: #747474;
$headerFont: 'Alata', sans-serif;
$paraFont: 'Poppins', sans-serif;
$formLabelColor: #d8d8d8;
$formInputFocusHighlight: #efd6d9;
$formInputBorderBottom: #f5f5f5;
$tileBgd: #2c2d32;
$highlightColor: #f63645;
$socialIconBgdColor: #f73544;
$dividerColor: #181818;
